<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Page</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" /> 
</head>
  
<body>
  <link href='https://fonts.googleapis.com/css?family=Tilt+Neon' rel='stylesheet'>
  <!-- Navigation -->
  <nav>
    <div class="title">Napking</div>
    <ul class="topnav">
      <li><a href="home">Home</a></li>
      <li><a href="drive">Drive</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </nav>
  <div class="description">
    <c>Who Are We?! Dumdums!!!</c>
    <c>No not the lollipops</c>
  </div>
</body>
</html>