<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Home Page</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" /> 
</head>

<body>
  <link href='https://fonts.googleapis.com/css?family=Tilt+Neon' rel='stylesheet'>
  <!-- Navigation -->
  <nav>
      <div class="title">Napking</div>
      <ul class="topnav">
        <li><a href="home">Home</a></li>
        <li><a href="drive">Drive</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="about">About</a></li>
      </ul>
  </nav>
  <!-- Main -->
  <div class="napkin-container">
    <canvas id="napkin" class="napkin" width=500 height=500></canvas>
  </div>
  <div class="tools">
    <button class="color-black" onclick="colorChangeBlack()"></button>
    <button class="color-red" onclick="colorChangeRed()"></button>
    <button class="color-blue" onclick="colorChangeBlue()"></button>
  </div>
  <div class="napkin-name-container">
    <textarea name="napkin-name" id="napkin-name" cols="30" rows="1">Give your napkin a name!</textarea>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
  <script src="../javascript/napkin.js"></script>
  <footer>
    <div class="description">
      <c><b>Napking</b> is the best place to jot down quick notes! Draw to your heart's content, or write something down!</c>
    </div>
  </footer>
</body>

</html>