<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Home Page</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" /> 
</head>

<body>
  <link href='https://fonts.googleapis.com/css?family=Concert One' rel='stylesheet'>
  <!-- Navigation -->
  <nav>
    <div class="title">
      <h4>Sketch Napkin</h4>
    </div>
    <ul class="topnav">
      <li><a href="home">Home</a></li>
      <li><a href="drive">Drive</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </nav>
  <!-- Main -->
  <div class="logo">
    <!-- <img src="../static/images/Logo.png" class="paper"> -->
  </div>
  <canvas class="napkin" width="500" height="500" style="border:1px solid #000000;">
  </canvas>
  <div class="description">
    <c>Best place to easily import sketches in order to save and alter it.</c>
  </div>
  <div class="signinButtons">
    <button class="btn btn-1">Login</button>
    <button class="btn btn-2">Sign Up</button>
  </div>
  <div class="guestButton">
    <button class="btn btn-3">Continue as Guest</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
  <script src="../javascript/napkin.js"></script>
</body>

</html>