<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/napkin.css' %}"> 

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>About Page</title>
</head>

<body>
  <link href='https://fonts.googleapis.com/css?family=Tilt+Neon' rel='stylesheet'>
  <nav>
      <div class="title">Napking</div>
      <ul class="topnav">
        {% if username %}
          <li style="color: white;">{{username}}</li>
        {% endif %}
        <li><a href="/">Home</a></li>
        <li><a href="/signIn">Login</a></li>
        <li><a href="/signUp">Sign Up</a></li>
        <li><a href="about">About</a></li>
      </ul>
  </nav>
  <!-- Main -->
  <footer>
    <div class="description">
      <c>What is Napking?</c>
      <br>
      <d>Napking is an application that</d>
      <br>
      <c>Problem</c>
      <br>
      <c>Solution</c>
      <br>
      <c>Specs</c>
      <br>
      <c>Stack:</c>
      <br>
      <img src="{% static 'images/Stack.png' %}" height="400px" class="about-img">
      <c>The team who brought Napking to Life:</c>
      <br>
      <img src="{% static 'images/TeamName.png' %}" width="800px" height="451px" class="about-img" usemap="#workmap">
      <map name="workmap">
        <area shape="rect" coords="286,185,524,119" alt="TeamPage" href="https://github.com/TheDumdums" target="_blank">
        <area shape="rect" coords="178,272,324,410" alt="Victor" href="https://github.com/VictorTPhan" target="_blank">
        <area shape="rect" coords="328,272,474,410" alt="Jubemhae" href="https://github.com/JubeMhae" target="_blank">
        <area shape="rect" coords="477,272,623,410" alt="Irfan" href="https://github.com/irfan61802" target="_blank">
      </map>
      <c>Want To Know More?</c>
      <br>
      <d>For more information on how our website works, visit our github repository to see more details of our code and to tinker with it yourself!</d>
      <br>
      <d>Github Repo: <a href="https://github.com/TheDumdums/napkin-app/tree/main/napkin_app" target="_blank" style="font-size: 25px;">Napking</a></d>
      <br>
      <br>
      <e>Thank you</e>
    </div>
  </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
<script src="{% static 'scripts/napkin.js' %}"></script>

</html>