<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/napkin.css' %}"> 

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>About Page</title>
</head>

<body>
  <link href='https://fonts.googleapis.com/css?family=Tilt+Neon' rel='stylesheet'>
  <nav>
      <div class="title"><img src="{% static 'images/EmptyLogo.png' %}" height="50px" style="vertical-align: middle;">Pannik</div>
      <ul class="topnav">
        {% if username %}
          <li style="color: white;">{{username}}</li>
        {% endif %}
        <li><a href="/">Home</a></li>
        <li><a href="/signIn">Login</a></li>
        <li><a href="/signUp">Sign Up</a></li>
        <li><a href="about">About</a></li>
      </ul>
  </nav>
  <!-- Main -->
  <footer>
    <div class="description">
      <img src="{% static 'images/PannikLogo.png' %}" height="700px" style="margin-top: -100px; margin-bottom: -100px;">
      <br>
      <c>What is Pannik?</c>
      <br>
      <br>
      <d>
        Pannik is an application that allows the user to express their ideas visually.
        Our team wishes to provides its users a way to quickly relay what they had written on a piece of napkin onto the internet.
        This will help save ideas that could've easily been forgotten or worse, thrown away. 
        An easy to use application that easily starts with the canvas to start drawing with all the necessary tools provided.
      </d>
      <br>
      <br>
      <c>What is the Problem?</c>
      <br>
      <br>
      <d>
        Have an idea, but don't have the necessary items needed? 
        Having no choice but to quickly find an item to jott it down before you forget? 
        Such as a napkin?
        <br>
        But what happens after that? 
        That piece of napkin is easily disposable and could easily be lost and forgotten. 
        Not only that, but there is no way to share your idea with anyone else without literally giving it them. 
        And even then only one person could see it at a time.
      </d>
      <br>
      <br>
      <c>Solving the Problem</c>
      <br>
      <br>
      <d>
        Pannik puts an emphasis on simplicity and quickness to save your ideas similar to that of jotting down notes on a napkin. 
        An application that allows the user to transfer their ideas that they had sketched onto our canvas website. 
        Thus resulting in the ability to save their ideas and share it with others.
      </d>
      <br>
      <br>
      <c>Pannik Features</c>
      <ul style="text-align: left; font-size: 23px; margin-left: 100px; margin-top: 10px;">
        <li>Drawing Canvas that allows the user to draw, write, and erase their creations.</li>
        <li>As one draws, the user has the ability to record and narrate their creation and turn it into a video file.</li>
        <li>Once finished with creating your napkin sketch, the user has the ability to download and upload the image or video.</li>
      </ul>
      <c>Stack:</c>
      <br>
      <img src="{% static 'images/Stack.png' %}" height="400px" class="about-img">
      <c>The team who brought Pannik to Life:</c>
      <img src="{% static 'images/TeamName.png' %}" width="800px" height="451px" class="about-img" usemap="#workmap">
      <map name="workmap">
        <area shape="rect" coords="286,185,524,119" alt="TeamPage" href="https://github.com/TheDumdums" target="_blank">
        <area shape="rect" coords="178,272,324,410" alt="Victor" href="https://github.com/VictorTPhan" target="_blank">
        <area shape="rect" coords="328,272,474,410" alt="Jubemhae" href="https://github.com/JubeMhae" target="_blank">
        <area shape="rect" coords="477,272,623,410" alt="Irfan" href="https://github.com/irfan61802" target="_blank">
      </map>
      <c>Want To Know More?</c>
      <br>
      <br>
      <d>For more information on how our website works, visit our github repository to see more details of our code and to tinker with it yourself!</d>
      <br>
      <d>Github Repository: <a href="https://github.com/TheDumdums/napkin-app/tree/main/napkin_app" target="_blank" style="font-size: 25px;">Pannik</a></d>
      <br>
      <br>
      <e>Thank you</e>
    </div>
  </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
<script src="{% static 'scripts/napkin.js' %}"></script>

</html>