<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/napkin.css' %}"> 

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Home Page</title>
</head>

<body>
  <link href='https://fonts.googleapis.com/css?family=Tilt+Neon' rel='stylesheet'>
  <nav>
      <div class="title">Napking</div>
      <ul class="topnav">
        {% if username %}
          <li style="color: white;">{{username}}</li>
        {% endif %}
        <li><a href="">Home</a></li>
        <li><a href="signIn">Login</a></li>
        <li><a href="/signUp">Sign Up</a></li>
        <li><a href="about">About</a></li>
      </ul>
  </nav>
  <!-- Main -->
  <div class="napkin-container">
    <canvas id="napkin" class="napkin" width=500 height=500></canvas>
  </div>
  <div class="tools">
    <button class="color-black" onclick="colorChangeBlack()"></button>
    <button class="color-red" onclick="colorChangeRed()"></button>
    <button class="color-blue" onclick="colorChangeBlue()"></button>
  </div>
  <div class="napkin-name-container">
    <textarea name="napkin-name" id="napkin-name" cols="30" rows="1">Give your napkin a name!</textarea>
  </div>
  {% if username %}
  <button class="upload-button" onclick="sendUploadRequest()">Upload to account</button>
  {% endif %}
  <ul>
    {% if napkins %}
      {% for timestamp, napkin in napkins.items %} 
        <li>
          <button class="napkin-link" onclick="openNapkinTab('{{napkin.url}}')">
            {{napkin.name}}
          </button>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
  </body>

<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
<script src="{% static 'scripts/napkin.js' %}"></script>
{% if upload_success %}
<script>
  window.onload = function() {
    alert("{{upload_success}}");
  }
</script>
{% endif %}

</html>