<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/napkin.css' %}"> 

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Home Page</title>
</head>

<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Tilt+Neon' rel='stylesheet'>
  <nav>
      <div class="title">Napking</div>
      {% if username %}
      <ul class="topnav">
        <li style="color: white;">{{username}}</li>
        <li><a href="">Home</a></li>
        {% if napkins %}
        <li><a href="/view">View Napkins</a></li>
        {% endif %}
        <li><a href="logout">Log Out</a></li>
        <li><a href="about">About</a></li>
      </ul>
      {% else %}
      <ul class="topnav">
        <li><a href="">Home</a></li>
        <li><a href="signIn">Login</a></li>
        <li><a href="/signUp">Sign Up</a></li>
        <li><a href="about">About</a></li>
      </ul>
      {% endif %}
  </nav>
  <!-- Main -->
  <div class="napkin-container">
    <canvas id="napkin" class="napkin" width=500 height=500></canvas>
  </div>
  <div class="tools">
    <button class="clear-btn" id="clear"><i class="fa fa-trash"></i></button>
    <button class="undo-btn" id="undo"><i class="fa fa-undo"></i></button>
    <input type='color' class="colorpicker" value="#808080" id="color-picker" onclick="mode(1)" oninput="colorChanged(this);"/>
    <button class="add-text" id="text" onclick="switchToTextMode(); mode(2)">Text</button>
    <input type="number" class="textSize" id="text-size" name="text-size" min="20" max="90" value="20">
    {% if username %}
    <button class="record-btn" id="start">Record</button>
    <button class="stop-btn" id="stop" disabled >Stop</button>
    {% endif %}
  </div>
  <video autoplay></video>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
<script src="{% static 'scripts/napkin.js' %}"></script>
{% if upload_success %}
<script>
  window.onload = function() {
    alert("{{upload_success}}");
  }
</script>
{% endif %}

</html>