<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/napkin.css' %}"> 

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Home Page</title>
</head>

<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Tilt+Neon' rel='stylesheet'>
  <nav>
    <div class="title"><img src="{% static 'images/EmptyLogo.png' %}" height="50px" style="vertical-align: middle;">Pannik</div>
      <ul class="topnav">
        {% if username %}
        <li style="color: white;">{{username}}</li>
        {% endif %}
        <li><a href="/signInReturn">Home</a></li>
        {% if napkins %}
        <li><a href="view">View Napkins</a></li>
        {% endif %}
        <li><a href="logout">Log Out</a></li>
        <li><a href="/SignInAbout">About</a></li>
      </ul>
  </nav>
  <!-- Main -->
  <div class="gallery">
    {% if napkins %}
      {% for timestamp, napkin in napkins.items %} 
          
          <div class="napkin-link-container">
            
              <img src={{napkin.url}} class="napkin-link">

              <div class="overlay">
                <a download={{napkin.name}} href={{napkin.url}} class="napkin-download">
                  <img src="{% static 'images/download.png' %}" class="download-icon">
                </a>
              </div>

              <p class="label">{{napkin.name}}</p>

          </div>
              
      {% endfor %}
    {% endif %}
  </div>
  <div class="gallery">
    {% if video_napkins %}
      {% for timestamp, video_napkin in video_napkins.items %}
        <div class="napkin-link-container">
          
          <video controls src={{video_napkin.url}}></video>

          <p class="label">{{video_napkin.name}}</p>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</body>
<script src="{% static 'scripts/napkin.js' %}"></script>
</html>